In [117]:
import json as j
import pandas as pd
fpath = r"C:\Users\radus\OneDrive\2 Epicode\Epicode - Lezioni\M3 - Phyton\W15D2\Mappa-dei-pub-circoli-locali-in-Italia.json"
f = open(fpath, "r", encoding="latin1")
df = pd.read_json(f)
#Quanti dati ci sono in totale?
len(df)
#Quali sono i metadati?
# i = df.info()
col = df.columns
index = df.index
#Stampiamo il primo elemento.
c = df.head(1)
#Stampiamo l'ultimo elemento.
df.tail(1)
#Riusciamo a stampare un elemento a caso?
smaple = df.sample(1)
#Quali sono gli anni di inserimento presenti?
df["canno_inserimento"].unique()
#Quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
area = (df["clongitudine"].between(9,10))&(df["clatitudine"].between(45,46))
att = df[area]["cnome"].count()
#Quante attività ci sono nella provincia di Vicenza?
vic = df[df["cprovincia"] == "VICENZA"]["cnome"].count()
#Quante enoteche ci sono, e come si chiamano?
    ## ?? non ci sono 

#Quante attività ci sono in Lazio e Abruzzo assieme?
bruz = df[(df["cregione"] == "Lazio")|(df["cregione"] == "Abruzzo")]["cnome"].count()

In [29]:
import json as j
import pandas as pd
fpath = r"C:\Users\radus\OneDrive\2 Epicode\Epicode - Lezioni\M3 - Phyton\W15D2\iris.csv"
ir = pd.read_csv(fpath)
# La media della lunghezza dei petali di tutto il dataset
ir["Petal.Width"].mean()
# La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
i = ir.groupby("Species")["Petal.Width"].mean()
# Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
s = ir.groupby("Species")["Petal.Width"].agg(["mean", "max", "min"])

             mean  max  min
Species
setosa      0.246  0.6  0.1
versicolor  1.326  1.8  1.0
virginica   2.026  2.5  1.4

In [48]:
import pandas as pd
fpath = r"C:\Users\radus\OneDrive\2 Epicode\Epicode - Lezioni\M3 - Phyton\W15D2\wine.csv"
wn = pd.read_csv(fpath)
media_OH = wn.groupby("Wine")["Alcohol"].mean()
media_tot = wn["Alcohol"].mean()
wn.sample(10) # bianchi 1, rossi 2
media_PH = wn.groupby("Wine")["Malic.acid"].mean()

In [16]:
import pandas as pd
fpath = r"C:\Users\radus\OneDrive\2 Epicode\Epicode - Lezioni\M3 - Phyton\W15D2\boston.csv"
bt = pd.read_csv(fpath)
bt.info()
bt.groupby("chas")["medv"].mean() # Il prezzo aumenta per case costeggianti il fiume in media 

# Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
correlazione = bt["crim"].corr(bt["medv"])
correlazione = bt["medv"].corr(bt["crim"])
correlazione

# Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? 
stz1 = bt.groupby("ptratio")["rm"].mean()
#E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato?
stz2 = bt.groupby("ptratio")["medv"].mean()
# quando il rapporto alunni/insegnanti è più basso, il numero di stanze aumenta così come il prezzo medio delle case. La presenza di istruzione
# permette di guadagnare di più. Aumenta il prezzo delle case perchP la moneta in circolo è maggiore

# Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?

acc1 = bt.groupby("rad")["medv"].mean()
acc2 = bt.groupby("rad")["rm"].mean()
acc3 = bt.groupby("rad")["tax"].mean()
#la media aumenta, tendenzialmente. Per medv e rm, aumenta fino a 8. Quando le autostrade diventano 24, la media diminuisce. Probabilmente perché
#lì lautostrada non è così efficiente come lo potesse essere prima 
#per le tasse aumenta e basta 
print(acc1, acc2, acc3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB
rad
1     24.365000
2     26.833333
3     27.928947
4     21.387273
5     25.706957
6     20.976923
7     27.105882
8     30.358333
24    16.403788
Name: medv, dtype: float64 rad
1     6.555850
2     6.649958
3     6.473026
4     6.133118
5     6.393157
6     6.104731
7     6.647765
8     6.950792
24    6.022152
Name: rm, dtype: float64 rad
1     291.450000
2     260.666667
3     246.078947
4     335.981818
5     331.843478
6     372.884615
7     304.411765
8     301.250000
24    666.000000
Name: tax, dtype: float64

In [2]:
emp = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })
dep= pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

m = emp.merge(dep, how="inner", on="department_id")
m

emp = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })
dep= pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })
emp.set_index("department_id", inplace=True)
dep.set_index("department_id", inplace=True)

j = emp.join(dep)
j
#Le differenze stanno nel fatto che Department ID è indice
#La funzione join li combina usando gli indici, bisogna quindi cambiare una colonna da usare come indice

NameError: name 'pd' is not defined

In [ ]:
import os
import dotenv
import sqlalchemy
import pandas as pd


dotenv.load_dotenv()
# username = os.getenv("username")
username = "studente_dapt"
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname

db_engine = sqlalchemy.create_engine(conn_string)

query1 = "SELECT * FROM dimemployee"
emp = pd.read_sql(query1, db_engine)


query2 = "SELECT * FROM dimemployeesalesterritory"
slst = pd.read_sql(query2, db_engine)


j1 = emp.join(slst.set_index("EmployeeKey"), on="EmployeeKey")
j1.shape

query3 = "SELECT * FROM dimsalesterritory"
terr = pd.read_sql(query3, db_engine)
#SalesTerritoryKey
j2 = j1.join(terr.set_index("SalesTerritoryKey"), on="SalesTerritoryKey")
dipreg = j2.groupby("SalesTerritoryRegion")["EmployeeKey"].count()
dipreg
dipcount = j2.groupby("SalesTerritoryCountry")["EmployeeKey"].count()

baserate = j2.groupby("SalesTerritoryCountry")["BaseRate"].count()

#non cambia nulla

In [ ]:
baserate